@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: #224941 url(./img/bg-img.jpg) no-repeat center center/cover;
  height: 100vh;
}

h1{
  margin: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 19rem;
  width: 19rem;
  position: relative;
  transform: scale(1);
}

.circle{
  background-color: #010f1c;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle{
  background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
  );
  height: 20rem;
  width: 20rem;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
}

.point-container{
  position: absolute;
  top: -2.5rem;
  left: 8.75rem;
  width: 1.3rem;
  height: 12rem;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: center bottom;
}

.point{
  background-color: aliceblue;
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem; 
}

.container.grow{
  animation: grow 3s linear forwards;
}

.container.shrink{
  animation: shrink 3s linear forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

@media (max-width: 450px) {
  .container{
    height: 16rem;
    width: 16rem;
  }
  .gradient-circle{
    height: 17rem;
    width: 17rem;
  }
  .point-container{
    top: -3rem;
    left: 7.5rem;
    width: 1.3rem;
    height: 11rem;
  }
}

@media (max-width: 375px) {
  .container{
    height: 14rem;
    width: 14rem;
  }
  .gradient-circle{
    height: 15rem;
    width: 15rem;
  }
  .point-container{
    top: -3rem;
    left: 6.5rem;
    width: 1.3rem;
    height: 10rem;
  }
}